<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="#">Brand</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link text-white" href="#descripcion">Descripción</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Precio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Robotex Colombia</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Contact us</a>
              </li>
            </ul>
            <form class="form-inline m-0">
              <input class="form-control mr-2" type="text" placeholder="Search">
              <button class="btn btn-primary" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <div class="pt-5 text-white bg-primary " id="grad">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-md-left text-center align-self-center my-5">
              <h1 class="display-1">Kinetics</h1>
              <p class="lead">Innovación educativa para el futuro.</p>
              <div class="row mt-5">
                <div class="col-md-5 col-6">
                  <a href="#">
                    <img class="center-block img-fluid d-block" src="https://pingendo.github.io/templates/sections/assets/download_android.png"> </a>
                </div>
                <div class="col-md-5 col-6">
                  <a href="#">
                    <img class="center-block img-fluid d-block" src="https://pingendo.github.io/templates/sections/assets/download_ios.png"> </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <img class="img-fluid d-block mx-auto" src="https://pingendo.github.io/templates/sections/assets/iphone_cover.png"> </div>
          </div>
        </div>
      </div>


      <div class="py-5 bg-light" id="descripcion">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="pb-4 text-secondary">Características de los programas Kinetics</h2>
            </div>
          </div>
          <div class="row">
            <div class="align-self-center text-md-right text-center col-md-4">
              <h3 class="text-primary">Tecnologías de última generación</h3>
              <p class="mb-5">Based on fluid design principles.
                <br>Works with any screen resolution</p>
              <h3 class="text-primary">Talleres prácticos DIY</h3>
              <p class="mb-5">Choose settings depending on the criteria you value the most</p>
              <h3 class="text-primary">Metodología orientada a proyectos</h3>
              <p class="">In-app chat panel 24/7 active.
                <br>The support you need, right there.</p>
            </div>
            <div class="my-3 col-md-4">
              <img class="img-fluid d-block ml-1 mx-auto" src="https://pingendo.github.io/templates/sections/assets/iphone_features.png"> </div>
            <div class="align-self-center text-md-left text-center col-md-4">
              <h3 class="text-primary">Conexión con nuevas oportunidades en el exterior</h3>
              <p class="mb-5">Non consuming background operation for longer mobile life</p>
              <h3 class="text-primary">Eventos competitivos de talla mundial</h3>
              <p class="mb-5">Work simultaneously on different panels with the switcher</p>
              <h3 class="text-primary">Mucha mucha diversión</h3>
              <p>Help us spreading the word.
                <br>Tell your friends with just one-click</p>
            </div>
          </div>
        </div>
      </div>


      <div class="py-5 text-center bg-secondary">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="mb-4 text-white">Galería Kinetics</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-6 p-1">
              <a href="#">
                <img class="d-block img-fluid" src="https://scontent-mia3-1.xx.fbcdn.net/v/t1.0-9/18268464_1483027665070425_1440344397733918980_n.jpg?oh=305f7bac9aa756d12dfa3a11789cecfb&oe=5B0871D9"> </a>
            </div>
            <div class="col-md-3 col-6 p-1">
              <a href="#">
                <img class="d-block img-fluid" src="https://scontent-mia3-1.xx.fbcdn.net/v/t1.0-9/11169409_1008404495866080_5988708442284755983_n.jpg?oh=d81c55b112548d3c7f064fbb75affab2&oe=5B4CE417"> </a>
            </div>
            <div class="col-md-3 col-6 p-1">
              <a href="#">
                <img class="d-block img-fluid" src="https://scontent-mia3-1.xx.fbcdn.net/v/t1.0-9/10403477_948679221838608_2071780770218555793_n.jpg?oh=cf5ea1ff38150d5530ac540ebf42e623&oe=5B03743F"> </a>
            </div>
            <div class="col-md-3 col-6 p-1">
              <a href="#">
                <img class="d-block img-fluid" src="https://scontent-mia3-1.xx.fbcdn.net/v/l/t31.0-8/12032809_1019764148063448_2268482184601574027_o.jpg?oh=be909bb5a89702bd1f6d99f588b244ab&oe=5B100021"> </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-6 p-1">
              <a href="#">
                <img class="d-block img-fluid" src="https://scontent-mia3-1.xx.fbcdn.net/v/t31.0-8/10380732_1007206039319259_3242309837283908263_o.jpg?oh=02ca748a1ad1acdee36020cef2baec5b&oe=5B17E8A2"> </a>
            </div>
            <div class="col-md-3 col-6 p-1">
              <a href="#">
                <img class="d-block img-fluid" src="https://scontent-mia3-1.xx.fbcdn.net/v/t31.0-8/14711478_1271152262924634_1646228445250063641_o.jpg?oh=c9c706da5b441c70260460ac5a90105a&oe=5B1E2629"> </a>
            </div>
            <div class="col-md-3 col-6 p-1">
              <a href="#">
                <img class="d-block img-fluid" src="https://scontent-mia3-1.xx.fbcdn.net/v/t1.0-0/c51.0.200.200/p200x200/11870699_993260437380486_1463746468837607054_n.jpg?oh=399d4724e612c5775361c83f9f987dc8&oe=5B161E30"> </a>
            </div>
            <div class="col-md-3 col-6 p-1">
              <a href="#">
                <img class="d-block img-fluid" src="https://scontent-mia3-1.xx.fbcdn.net/v/t1.0-9/18342341_1483131248393400_4457423986715709830_n.png?oh=35479dc56f8cb6912b0046a93ae0eec2&oe=5B231A41"> </a>
            </div>
          </div>          
          
        </div>
      </div>

      <div class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-2"> </div>
            <div class="col-md-8">
              <table class="table text-center">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th class="text-center">Robótica & IoT</th>
                    <th class="text-center">Videojuegos y Desarrollo cloud</th>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td class="bg-light">
                      <br>Cronstruye robots que resuelvan retos especiales.
                      <br>Crea prototipos IoT por ti mismo</td>
                    <td>&nbsp;
                      <br>Crea y personaliza tus propios videojuegos.
                      <br>Aprende a desarrollar apps para la nube</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>40 horas de formación</td>
                    <td class="bg-light"><i class="fa fa-check fa-lg text-primary"></i></td>
                    <td><i class="fa fa-check fa-lg text-primary"></i></td>
                  </tr>
                  <tr>
                    <td>Diseño de contenidos</td>
                    <td class="bg-light"><i class="fa fa-check fa-lg text-primary"></i></td>
                    <td><i class="fa fa-check fa-lg text-primary"></i></td>
                  </tr>
                  <tr>
                    <td>Entrega de metodología</td>
                    <td class="bg-light"><i class="fa fa-check fa-lg text-primary"></i></td>
                    <td><i class="fa fa-check fa-lg text-primary"></i></td>
                  </tr>
                  <tr>
                    <td>Proyecto integrador</td>
                    <td class="bg-light"><i class="fa fa-check fa-lg text-primary"></i></td>
                    <td><i class="fa fa-check fa-lg text-primary"></i></td>
                  </tr>
                  <tr>
                    <td>Materiales incluidos</td>
                    <td class="bg-light"></td>
                    <td><i class="fa fa-check fa-lg text-primary"></i></td>
                  </tr>
                  <tr>
                    <td>Seguimiento y analíticas</td>
                    <td class="bg-light"></td>
                    <td><i class="fa fa-check fa-lg text-primary"></i></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="bg-light">
                      <h1>Standard</h1>
                    </td>
                    <td>
                      <h1>Premium</h1>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="bg-light">
                      <a href="#" class="btn btn-outline-primary text-primary btn-lg">Saber más</a>
                    </td>
                    <td>
                      <h1>
                        <a href="#" class="btn btn-primary btn-lg">Saber más</a>
                      </h1>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="py-5 bg-primary text-white" id="contacto">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img class="d-block img-fluid my-3" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDW8nO9JhT_pEjebobq9pgUF2cEp0EUb1I&amp;markers=Alexander+platz&amp;center=Berlin&amp;zoom=13&amp;size=640x500&amp;sensor=false"> </div>
            <div class="col-md-6">
              <h1>Contáctanos</h1>
              <p>Nos encantaría saber lo que piensas</p>
              <form>
                <div class="form-group"> <label for="InputName">Nombre</label>
                  <input type="text" class="form-control" id="InputName" placeholder="Tu nombre completo"> </div>
                <div class="form-group"> <label for="InputEmail1">Correo electrónico</label>
                  <input type="email" class="form-control" id="InputEmail1" placeholder="example@email.com"> </div>
                <div class="form-group"> <label for="Textarea">Mensaje</label> <textarea class="form-control" id="Textarea" rows="3" placeholder="Escribe aquí tu mensaje"></textarea> </div>
                <button type="submit" class="btn btn-secondary">Enviar</button>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="py-5 bg-dark text-white">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p class="lead">Suscríbete a nuestro boletín para enterarte de lo último de Kinetics</p>
              <form class="form-inline">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="ejemplo@email.com"> </div>
                <button type="submit" class="btn btn-primary ml-3">Suscribirse</button>
              </form>
            </div>
            <div class="col-md-6 text-center">
              <p class="lead text-center">Nos encantan los nuevos amigos</p>
              <a href="https://www.facebook.com" target="_blank"><i class="fa fa-fw fa-facebook fa-3x text-white"></i><i class="fa fa-fw fa-twitter fa-3x text-white"></i><i class="fa fa-fw fa-instagram text-white fa-3x"></i><i class="fa fa-fw fa-youtube text-white fa-3x"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt-3 text-center">
              <p class="">© Copyright 2018 Kinetics - Todos los derechos reservados.</p>
            </div>
          </div>
        </div>
      </div>


      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

